h1 {
   font-weight: normal;
   text-transform: uppercase;
}

h2 {
   font-weight: normal;
   text-transform: uppercase;
}

p {
   font-style: italic;
}

.titulos {
   line-height: 50px;
}

.espaciado {
   word-spacing: 5px;
   letter-spacing: 1px;
}

ol {
   list-style-type: upper-roman;
}

ul {
   list-style-type: square;
}
